.container {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}

.p {
    display: flex;
    flex-direction: column;
}

.li {
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    color: green;
    position:  relative;
    margin-bottom: 10px;

}

.input {
    width: 100%;
    background-color: #252427;
    border-color: #1a191b;
    font-size: 14px;
    font-weight: inherit;
    border-radius: 10px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    height: 34px;
    padding-left: 8px;
    padding-right: 8px;
    outline: none;
}

/* .span {
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid green;
} */